{% extends 'base.html' %}
{% load static %}

{% block title %}
Projects
{% endblock %}

{% block content %}
<section id="projects" class="center-column">
    <h2 class="subtitles">My Projects</h2>
    <div class="projects-list center-row">
        <div class="project-card">
            <img src="{% static 'img/carlos.jpg' %}" alt="carlos">
            <a href="https://github.com/" target="_blank"></a>
            <p>Project 1 name</p>
            <p>project 1 description</p>
            <p>YYYY</p>

            <img src="{% static 'img/igor.jpg' %}" alt="igor">
            <a href="https://github.com/" target="_blank"></a>
            <p>Project 2 name</p>
            <p>project 2 description</p>
            <p>YYYY</p>

            <img src="{% static 'img/ilya.jpg' %}" alt="ilya">
            <a href="https://github.com/" target="_blank"></a>
            <p>Project 3 name</p>
            <p>project 3 description</p>
            <p>YYYY</p>
        </div>
    </div>
</section>

{% endblock %}
