{% extends "base.html" %}
{% load static %}
{% block title %}Contact{% endblock %}

{% block content %}
<section class="contact-section py-5">
    <div class="container">
        <h1 class="text-uppercase text-center mb-5">Contact Me</h1>
        <p class="lead text-center mb-4">If you have any questions or would like to get in touch, please fill out the
            form below.</p>
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-8">
                <form method="POST" id="contact-form" class="p-4 shadow-lg rounded"
                    style="background-color: var(--primary-color); border: 2px solid var(--secondary-color);">
                    {% csrf_token %}
                    <div class="mb-3">
                        {{ form.name }}
                    </div>
                    <div class="mb-3">
                        {{ form.email }}
                    </div>
                    <div class="mb-3">
                        {{ form.message }}
                    </div>
                    <div class="form-controllers mt-4 text-center">
                        <button type="reset" class="btn btn-secondary me-2">Reset</button>
                        <button type="submit" class="btn btn-warning">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}
